@font-face{
    font-family: 'reloj';
    src: url('fonts/reloj/DS-DIGII.TTF');
}

@font-face{
    font-family: 'nunito';
    src: url('fonts/nunito/Nunito-Regular.ttf');
}

@font-face{
    font-family: 'raj';
    src: url('fonts/raj/Rajdhani-Regular.ttf');
}

@font-face{
    font-family: 'rubik';
    src: url('fonts/rub/Rubik-Regular.ttf');
}