
// colores basicos
$rojo:red;
$azul:blue;
$blanco:white;
$negro:black;
$tomate:tomato;

//otros colores
$rojooscuro: #b3422a;
$azuloscuro: #1c99a8;
$palido: #bbc5c6;
$remo: #953a5a;
$grisclaro: #f0eced;
$indiared: #FF5733;
$rojollamativo: #c82525 ;
$rojoparahover:#630808;
$rojodeheader:#C43434;
$header:#F3D7D1;
$negroelegante:#5A5353;

$verdefresco:#90CB78;
$verdeoscuro:#5C8949;

$desactivado:'#C4C4C4';
$desactivadohover:#949494;
$textdesc:#9DA49B;

$azulinfo:#1DC3B7;
$azulinfohover:#158980;

$verdesucess:#1BCF4C;
$verdesucesshover:#147E31;

$gradient:linear-gradient(left, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 27%, rgba(246,41,12,1) 51%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);