.dia{
    border: solid thin #000000;
    padding: 4px;
    width: 45%;
    float: left;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 20px;
    min-height: 300px;
    max-height: 300px;
    overflow: auto;
}

table.table_bus th:first-child{
    width: 15px !important;
}

table.table_bus td:first-child{
    width: 15px !important;
}

table.table_bus th{
    font-size: 11px !important;
    padding: 0 !important;
}

table.table_bus td{
    padding: 3px 0 !important;
    font-size: 10px;
}

.table_bus tbody {
    width: 100%;
    height: 60px;
    max-height: 20px;
    overflow: auto;
}

table.table_bus td:last-child{
    width: 10px !important;
    word-break: break-all;
    font-size: 8px;
}

.dia .label_dia{
    font-size: 0.8em;
}
.span_capacity{
    width: 30%;
}
.botones{
    width: 100%;
}
.botones button{
    float: right;
}
.bus_title{
    width: 68%;
    max-width: 68%;
    font-weight: bold;
    display: inline-block;
    word-break: keep-all;
    margin-top: 0;
    margin-bottom: 0;
}

.dia .botones{
    float: right;
}

.park{
    border: solid thin #000000;
    padding: 4px;
    width: 95%;
    float: left;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
}

.label_park input[type="checkbox"]{
    float: right;
    margin-right: 8px;
}

/*.reserva{*/
    /*padding: 4px;*/
    /*width: 95%;*/
    /*float: left;*/
    /*display: inline-block;*/
    /*margin-right: 10px;*/
/*}*/

/*.reserva .label_reserva{*/
    /*display: block;*/
    /*margin-bottom: 3px;*/
    /*width: 100%;*/
    /*background-color: #e6e6e6;*/
    /*padding: 2px;*/
/*}*/

/*.reserva .label_reserva input[type="checkbox"]{*/
    /*float: right;*/
    /*margin: 0;*/
/*}*/

.hidden{
    display: none !important;
}

#btn_save{
    height: 33px;
    width: 80px;
    font-size: 1.5em;
}

.header2{
    width: 60% !important;
}